*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.outerCircle{
    margin-top: 30px;
    height: 300px;
    width: 300px;
    background: rgb(152,51,219);
    background: linear-gradient(45deg, rgba(152,51,219,1) 0%, rgba(253,29,29,1) 58%, rgba(252,176,69,1) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:rgba(86, 45, 78, 0.8) 0 0 261px 140px ;
}
.innerCircle{
    color: white;
    height: 260px;
    width: 260px;
    font-size: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCont{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.b{
    height: 60px;
    width: 90px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: grey;
    font-size: 20px;
   
}
.b:hover{
    background-color: rgb(197, 195, 195);
}
ul{
    list-style: none;
    overflow: auto;
 margin-top: 30px;
 height: 250px;

}
ul::-webkit-scrollbar{
    display: none;
}
li , .lap-item{
    background-color: red;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    border-radius: 100px;
    text-align: center;
    line-height:30px ;
}
.clearCont{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}
.hide{
display: none;
}
.hidden{
    visibility: hidden;
    
}

